@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
	@apply shadow-md py-3 px-6 rounded-md transition duration-300
}

.btn-purple {
	@apply bg-bookmark-purple text-white
}

.btn-white {
	@apply bg-bookmark-white
}

html, body, #root {
	width: 100%;
	height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	overflow-x: hidden;
}

/* dude can i atleast see my changes, i am trying to do some changes
*/